@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Добрый день!</h1>
    <h3>
        Оставить свою заявку вы можете <a class="btn btn-primary" asp-area="" asp-controller="RepairLog" asp-action="Create">Здесь</a>
    </h3>

</div>
