@model IEnumerable<WebService.Models.ViewModels.RepairGroup.RepairGroupViewModel>
@using BLL.Models
@{
    ViewData["Title"] = "Список ремонтных групп";
}
<style>
    .repairgroups {
        margin-left: 200px;
        margin-right: 200px;
    }
</style>

<h2>Список ремонтных групп</h2>
<p>
    <a class="btn btn-dark" asp-action="Create"><i class="bi-journal-plus"></i> Добавить группу</a>
</p>
<div class="justify-content-center repairgroups">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Наименование
                </th>
                <th>
                    Описание
                </th>
                <th>
                    Действия
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <form asp-action="Delete" asp-route-id="@item.Id" method="post">
                            <a class="btn btn-sm btn-secondary" asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
                            <button type="submit" class="btn btn-sm btn-secondary">
                                Удалить
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>