@model WebService.Models.ViewModels.User.ChangePasswordViewModel
@{
    ViewBag.Title = "Изменение пароля";
}

<style>
    .form-floating-group input {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    #toggleChangePassword1, #toggleChangePassword2 {
        cursor: pointer;
    }
</style>
<h2></h2>

<a href="javascript:history.go(-1)"
   class="btn btn-outline-dark">
    Вернуться
</a>

<div class="container row-cols-lg-3 d-flex justify-content-center">
    <form class="d-flex flex-column gap-2" asp-action="ChangePersonalPassword" asp-controller="Users">
        <legend>Здесь вы можете изменить свой текущий пароль</legend>

        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="UserName" />

        <div class="input-group">
            <div class="form-floating form-floating-group flex-grow-1">
                <input asp-for="OldPassword" class="form-floating-group form-control" placeholder="Введите старый пароль" id="floatingInputChangePassword1" />
                <label for="floatingInputChangePassword1" class="control-label">@Html.DisplayNameFor(modelItem => Model.OldPassword)</label>
                <span class="text-danger" asp-validation-for="OldPassword"></span>
            </div>
            <span class="input-group-text">
                <i class="bi bi-eye-slash" id="toggleChangePassword1"></i>
            </span>
        </div>
        <div class="input-group">
            <div class="form-floating form-floating-group flex-grow-1">
                <input asp-for="NewPassword" class="form-floating-group form-control" placeholder="Введите новый пароль" id="floatingInputChangePassword2" />
                <label for="floatingInputChangePassword2" class="control-label">@Html.DisplayNameFor(modelItem => Model.NewPassword)</label>
                <span class="text-danger" asp-validation-for="NewPassword"></span>
            </div>
            <span class="input-group-text">
                <i class="bi bi-eye-slash" id="toggleChangePassword2"></i>
            </span>
        </div>
        <div class="form-group">
            <input class="btn btn-primary btn mt-2" type="submit" value="Сохранить" />
        </div>
    </form>
</div>

<script>
    const togglePassword1 = document.querySelector("#toggleChangePassword1");
    const togglePassword2 = document.querySelector("#toggleChangePassword2");
    const password1 = document.querySelector("#floatingInputChangePassword1");
    const password2 = document.querySelector("#floatingInputChangePassword2");

    togglePassword1.addEventListener("click", function () {
        // toggle the type attribute
        const type = password1.getAttribute("type") === "password" ? "text" : "password";
        password1.setAttribute("type", type);

        // toggle the icon
        this.classList.toggle("bi-eye");
    });
    togglePassword2.addEventListener("click", function () {
        // toggle the type attribute
        const type = password1.getAttribute("type") === "password" ? "text" : "password";
        password1.setAttribute("type", type);

        // toggle the icon
        this.classList.toggle("bi-eye");
    });
</script>