@model WebService.Models.ViewModels.User.ChangePasswordViewModel
@{
    ViewBag.Title = "Изменение пароля";
}

<form asp-action="ChangePassword" asp-controller="Users">
    <legend>Изменение пароля пользователя @Model.UserName</legend>
    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="UserName" />

    <div class="form-group">
        <label asp-for="NewPassword" class="control-label"></label>
        <input type="text" asp-for="NewPassword" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-secondary" />
    </div>
</form>